html {
    border: none;
    margin: none;
    padding: none;

}
header {
    display:flex;
    flex-direction: row;
    height: 75px;
    width: 102%;
    border-color: wheat;
    background: linear-gradient(90deg,blue, purple, black);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: -1%;
    margin-top: -1%;
    margin-right: -1%;
}
.super {
    background-color: aliceblue;
    font-size: x-large;
    color: black;
}
#home {
    display:flex;
    background-color: inherit;
    color: white;
    margin-left: 5%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-items: center;
}
h2 {
    color:rgb(223, 223, 223)
}
#home img {
    height: 55px;

}
#menu {
    display:flex;
    align-content: center;
    align-items: center;
    background-color:inherit;
    color: white;
    margin-right: 5%;
    height: 50%;
    font-size: larger;
    text-decoration: bold;
}

body {
    background-color:rgb(90, 90, 90);
    }

#searchHeader{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    
}


.btn {
    background-color: rgb(29, 29, 61);
    border-radius: 5px;
    border-color: cadetblue;
    color:white;
    height: auto; 



}
.fancy{
    display: block;
    color: white;
    justify-content: column;
    background-color: darkgrey;
    width: 250px;
    height: 450px;


}
.fancySmol {
    display: flex;
}
